#container {
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    box-sizing: border-box;
    left: 46px;
    top: 55px;
}

#screen-show {
    text-align: center;
    box-sizing: border-box;
    background-color: #212121;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-width: 0px;
    width: 100%;
    height: 80px;
}

.calculator-btn{
    padding: 10px;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 9px;
}

#keys-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
    margin: 9px;
}

#screen-show {
    color: white;
}

#actionBtns {
    grid-area: 2/1/3/3;
}

#equal-btn {
    padding: 10px;
    background-color: white;
    border-width: 1px;
    border-color: lightblue;
    border-radius: 9px;
    border-style: solid;
    background-color: #0077cf;
    grid-area: 2/4/6/5;
}

 #ac-btn{
     padding: 8px;
     background-color: #fe3b00;
     border-width: 1px;
     border-color: lightblue;
     border-radius: 9px;
     border-style: solid;
 }